# Auto detect text files and perform LF normalization
*          text=auto

*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=lf
*.csproj   text eol=lf
*.sh      eol=lf
*.conf    eol=lf
Dockerfile  text
/*/**/Dockerfile             linguist-generated
/*/**/docker-entrypoint.sh   linguist-generated
/*/**/dockerd-entrypoint.sh  linguist-generated
/*/**/modprobe.sh            linguist-generated
/Dockerfile*.template        linguist-language=Dockerfile